@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  color: #FFF;
  margin: 0;
  background:#111;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top: -150px;
}

footer{
  margin: 50px 0;
  text-align: center;
}